<template name="picker">
    <div class="row">
        <div class="col-xs-4">
            <h1>引用第三方js库</h1>
            <h2>DateTimePicker</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <input type="text" class="form-control datetimepicker" placeholder="Pick a Date"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <button class="btn btn success btn-block">确定</button>
        </div>
    </div>
</template>